/* .Main{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
margin: 30px 20em;
background-color: rgb(212, 23, 187);
flex-direction: row; */

/* } */

.cardparent {
    display: flex;
    justify-content: center;
    margin: 3em;
}

.cardparent .card {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    color: black;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #ffffff;
 
}

#input {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 2em;
}
#inputnum{
  border: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(25, 34, 165);
}

.btn {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 2em;
}

.count {
    margin: 0 10em;
}
/* From cssbuttons.io by @barisdogansutcu */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: rgb(29, 10, 107) 0px 7px 0px 0px;
    background-color: hsl(210deg 100% 44%);
    border-radius: 50%;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
  
    button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   } 
   
   button:hover:before {
    transition: all .0s;
     
     transform: translateY(100%);
    opacity: 0;
   }

  